<!-- Heading -->
<%= render "partials/heading", backlink: true, title: "Lading wijzigen van doorvaart: #{@cargo.passage.serial_number}" %>

<%= form_with model: @cargo do |form| %>
    <!-- Measure input -->
    <%= render "partials/input", form: form, value: :measure, label: "Maat", required: true, model: @cargo %>

    <!-- Number of units input -->
    <%= render "partials/input", form: form, value: :number_of_units, label: "Aantal eenheden", required: true, model: @cargo %>

    <%= form.submit "Lading wijzigen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>