<h1 class="inline-block font-bold text-2xl">Aanmelden</h1>

<% if User.all.count == 0 %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-4">
      <%= f.label :email, "E-mail" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
    </div>

    <div class="my-4">
      <%= f.label :password, "Wachtwoord" %>
      <% if @minimum_password_length %>
        <em>(Minimaal <%= @minimum_password_length %> karakters)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
    </div>

    <div class="my-4">
      <%= f.label :password_confirmation, "Wachtwoord bevestigen" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
    </div>

    <div class="actions">
      <%= f.submit "Aanmelden", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
<% else %>
    <p>Er is al een administrator.</p>
<% end %>