<%= form_with model: skipper do |form| %>
    <!-- Name input -->
    <%= render "partials/input", form: form, value: :name, label: "Naam", required: true, model: skipper %>

    <!-- From city dropdown -->
    <%= render "partials/dropdown", form: form, value: :city_id, label: "Plaats van afkomst", required: false, items: City.order(:name), item_value: :id, item_label: :name %>

    <%= form.submit "Schipper toevoegen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>