<%= render "partials/heading", backlink: true, title: "Schippers", create_url: "/skippers/new" %>

<div class="bg-white rounded-lg mt-4 px-4">
    <% if @skippers.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Naam</th>
                <th class="text-left">Plaats van afkomst</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @skippers.each do |skipper| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= skipper_path(skipper) %>" alt="Schipper bekijken"><%= skipper.id %></a></td>
                    <td><%= skipper.name %></td>
                    <td><%= skipper.city != nil ? skipper.city.name : "Onbekend" %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_skipper_path(skipper), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), skipper_path(skipper), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Weet u zeker dat u de schipper wilt verwijderen? Alle gekoppelde doorvaarten worden hiermee ook verwijderd!"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p class="text-center">Er zijn nog geen schippers toegevoegd.</p>
    <% end %>
</div>