<!-- Heading with backbutton -->
<%= render "partials/heading", backlink: true, title: "Schipper: #{@skipper.name}", is_show: true, model: @skipper, model_path: "/skippers" %>

<div class="bg-white w-full p-4 rounded-lg mt-4">
    <!-- Skipper name -->
    <%= render "partials/field_value", label: "Naam", value: @skipper.name %>

    <!-- Skipper birthplace -->
    <%= render "partials/field_value", label: "Plaats van afkomst", value: @skipper.city != nil ? @skipper.city.name : "Onbekend" %>
</div>

<h2 class="text-xl font-bold mt-4">Doorvaarten</h2>

<div class="bg-white rounded-lg mt-2 px-4">
    <% if @skipper.passages.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Volgnummer</th>
                <th class="text-left">Schipper</th>
                <th class="text-left">Van</th>
                <th class="text-left">Naar</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @skipper.passages.each do |passage| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= passage_path(passage) %>" alt="Doorvaart bekijken"><%= passage.id %></a></td>
                    <td><%= passage.serial_number %></td>
                    <td><%= passage.skipper.name %></td>
                    <td><%= passage.from_city != nil ? passage.from_city.name : "Onbekend" %></td>
                    <td><%= passage.to_city != nil ? passage.to_city.name : "Onbekend" %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_passage_path(passage), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), passage_path(passage), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Weet u zeker dat u deze doorvaart wilt verwijderen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <div class="bg-white my-4 py-4 rounded-lg">
            <p>Er zijn geen doorvaarten bekend.</p>
        </div>
    <% end %>
</div>
