<div class="my-4">
    <%= form.label value, label, class: required ? "block required" : "block" %>
    <%= form.collection_select value, items, item_value, item_label, {include_blank: !required}, {class: "py-2 px-2 bg-white w-full lg:w-1/2 border border-slate-300 rounded-md shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"} %>
</div>