<div class="flex items-center">
    <div class="flex-1">
        <% if defined? backlink %>
            <%= link_to '< Terug', 'javascript:history.back()', class: "inline-block px-4 py-2 mr-4 font-bold text-2xl bg-secondary text-white rounded-lg" %>
        <% end %>

        <% if defined? associations %>
            <h2 class="text-xl font-bold mt-4"><%= title %></h2>
        <% else %>
            <h1 class="inline-block font-bold text-2xl"><%= title %></h1>
        <% end %>
    </div>

    <% if defined? create_url %>
        <div class="flex-1">
            <a class="float-right px-4 py-2 font-bold text-2xl bg-primary text-white rounded-lg" href="<%= create_url %>" alt="<%= title %> toevoegen">+</a>
        </div>
    <% end %>

    <% if defined? is_show %>
        <div class="flex-1">
            <div class="float-right">
                <%= link_to image_tag("edit_icon.svg", class: "h-6"), "#{model_path}/#{model.id}/edit", class: "bg-blue-300 rounded-lg inline-block p-2" %>
                                
                <%= link_to image_tag("trash_icon.svg", class: "h-6"), "#{model_path}/#{model.id}", data: {
                    turbo_method: :delete,
                    turbo_confirm: model.is_a?(Skipper) ? "Weet u zeker dat u de schipper wilt verwijderen? Alle gekoppelde doorvaarten worden hiermee ook verwijderd!" : "Weet u zeker dat u het wilt verwijderen?"
                }, class: "bg-red-500 rounded-lg inline-block p-2" %>
            </div>
        </div>
    <% end %>
</div>