<div class="my-4">
    <%= form.label value, label, class: required ? "required" : "" %>
    <%= form.text_field value, class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>

    <% model.errors.full_messages_for(value).each do |message| %>
        <p class="text-red-500"><%= message %></p>
    <% end %>
</div>