<h1 class="inline-block font-bold text-2xl">Nieuw wachtwoord instellen</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nieuw wachtwoord" %><br />
    <% if @minimum_password_length %>
      <em>(Minimaal <%= @minimum_password_length %> karakters)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Wachtwoord bevestigen" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
  </div>

  <div class="actions">
    <%= f.submit "Wachtwoord wijzigen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>