<h1 class="inline-block font-bold text-2xl">Wachtwoord vergeten?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="my-4">
    <%= f.label :email, "E-mail" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
  </div>

  <div class="actions">
    <%= f.submit "E-mail verzenden", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
