<%= form_with model: good do |form| %>
    <div class="my-4">
        <%= form.label :type, "Type" %>
        <%= form.text_field :type, class: "block bg-white w-full lg:w-1/2 border border-slate-300 rounded-md py-2 px-2 shadow-sm focus:outline-none focus:border-primary focus:ring-primary focus:ring-1" %>
    </div>

    <%= form.submit "Goed toevoegen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>