<%= render "partials/heading", backlink: true, title: "Goederen", create_url: "/goods/new" %>

<div class="bg-white rounded-lg mt-4 px-4">
    <% if @goods.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Type</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @goods.each do |good| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= good_path(good) %>" alt="Goed bekijken"><%= good.id %></a></td>
                    <td><%= good.type %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_good_path(good), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), good_path(good), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Weet u zeker dat u dit goed wilt verwijderen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p class="text-center">Er zijn nog geen goederen toegevoegd.</p>
    <% end %>
</div>