<!-- Heading -->
<%= render "partials/heading", backlink: true, title: "Goed: #{@good.type}", is_show: true, model: @good, model_path: "/goods" %>

<div class="bg-white w-full p-4 rounded-lg mt-4">
    <!-- Type of good -->
    <%= render "partials/field_value", label: "Type", value: @good.type %>
</div>

<h2 class="text-xl font-bold mt-4">Doorvaarten</h2>

<div class="bg-white rounded-lg mt-2 px-4">
    <% if @good.cargo.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Volgnummer doorvaart</th>
                <th class="text-left">Maat</th>
                <th class="text-left">Aantal eenheden</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @good.cargo.each do |cargo| %>
                <tr class="h-12 border-y">
                    <td><%= cargo.id %></a></td>
                    <td><a class="text-blue-500 font-bold" href="<%= passage_path(cargo.passage) %>" alt="Doorvaart bekijken"><%= cargo.passage.serial_number %></a></td>
                    <td><%= cargo.measure %></td>
                    <td><%= cargo.number_of_units %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_cargo_path(cargo), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), cargo_path(cargo), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Weet u zeker dat u deze lading wilt ontkoppelen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p class="py-4">Er zijn nog geen doorvaarten gekoppeld.</p>
    <% end %>
</div>