<%= form_with model: passage do |form| %>
    <!-- Skipper dropdown -->
    <%= render "partials/dropdown", form: form, value: :skipper_id, label: "Schipper", required: true, items: Skipper.order(:name), item_value: :id, item_label: :name %>

    <!-- From city dropdown -->
    <%= render "partials/dropdown", form: form, value: :from_city_id, label: "Plaats van afkomst", required: false, items: City.order(:name), item_value: :id, item_label: :name %>
    
    <!-- To city dropdown -->
    <%= render "partials/dropdown", form: form, value: :to_city_id, label: "Plaats van bestemming", required: false, items: City.order(:name), item_value: :id, item_label: :name %>

    <!-- Tonnage input -->
    <%= render "partials/input", form: form, value: :tonnage, label: "Tonnage", required: true, model: passage %>

    <!-- Serial number input -->
    <%= render "partials/input", form: form, value: :serial_number, label: "Volgnummer", required: true, model: passage %>

    <!-- Total coin type 1 input -->
    <%= render "partials/input", form: form, value: :total_coin_type_1, label: "Totaal muntsoort 1", required: false, model: passage %>

    <!-- Total amount 1 input -->
    <%= render "partials/input", form: form, value: :total_amount_1, label: "Totaal bedrag 1", required: false, model: passage %>

    <!-- Total coin type 2 input -->
    <%= render "partials/input", form: form, value: :total_coin_type_2, label: "Totaal muntsoort 2", required: false, model: passage %>

    <!-- Total amount 2 input -->
    <%= render "partials/input", form: form, value: :total_amount_2, label: "Totaal bedrag 2", required: false, model: passage %>

    <!-- Total coin type 3 input -->
    <%= render "partials/input", form: form, value: :total_coin_type_3, label: "Totaal muntsoort 3", required: false, model: passage %>

    <!-- Total amount 3 input -->
    <%= render "partials/input", form: form, value: :total_amount_3, label: "Totaal bedrag 3", required: false, model: passage %>

    <!-- Total coin type 4 input -->
    <%= render "partials/input", form: form, value: :total_coin_type_4, label: "Totaal muntsoort 4", required: false, model: passage %>

    <!-- Total amount 4 input -->
    <%= render "partials/input", form: form, value: :total_amount_4, label: "Totaal bedrag 4", required: false, model: passage %>

    <!-- Total coin type 5 input -->
    <%= render "partials/input", form: form, value: :total_coin_type_5, label: "Totaal muntsoort 5", required: false, model: passage %>

    <!-- Total amount 5 input -->
    <%= render "partials/input", form: form, value: :total_amount_5, label: "Totaal bedrag 5", required: false, model: passage %>

    <%= form.submit "Doorvaart toevoegen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>