<!-- Heading with backbutton -->
<%= render "partials/heading", backlink: true, title: "Doorvaart: #{@passage.serial_number}", is_show: true, model: @passage, model_path: "/passages" %>

<div class="bg-white w-full p-4 rounded-lg my-4">
    <!-- Skipper name -->
    <%= render "partials/field_value", label: "Schipper", value: @passage.skipper.name %>

    <!-- From city -->
    <%= render "partials/field_value", label: "Van", value: @passage.from_city != nil ? @passage.from_city.name : "Er is geen plaats van afkomst bekend." %>

    <!-- To city -->
    <%= render "partials/field_value", label: "Naar", value: @passage.to_city != nil ? @passage.to_city.name : "Er is geen bestemming bekend." %>

    <!-- Tonnage -->
    <%= render "partials/field_value", label: "Tonnage", value: @passage.tonnage %>

    <!-- Serial number -->
    <%= render "partials/field_value", label: "Volgnummer", value: @passage.serial_number %>

    <!-- Total coin type 1 -->
    <%= render "partials/field_value", label: "Totaal muntsoort 1", value: @passage.total_coin_type_1 %>

    <!-- Total amount 1 -->
    <%= render "partials/field_value", label: "Totaal bedrag 1", value: @passage.total_amount_1 %>

    <!-- Total coin type 2 -->
    <%= render "partials/field_value", label: "Totaal muntsoort 2", value: @passage.total_coin_type_2 %>

    <!-- Total amount 2 -->
    <%= render "partials/field_value", label: "Totaal bedrag 2", value: @passage.total_amount_2 %>

    <!-- Total coin type 3 -->
    <%= render "partials/field_value", label: "Totaal muntsoort 3", value: @passage.total_coin_type_3 %>

    <!-- Total amount 3 -->
    <%= render "partials/field_value", label: "Totaal bedrag 3", value: @passage.total_amount_3 %>

    <!-- Total coin type 4 -->
    <%= render "partials/field_value", label: "Totaal muntsoort 4", value: @passage.total_coin_type_4 %>

    <!-- Total amount 4 -->
    <%= render "partials/field_value", label: "Totaal bedrag 4", value: @passage.total_amount_4 %>

    <!-- Total coin type 5 -->
    <%= render "partials/field_value", label: "Totaal muntsoort 5", value: @passage.total_coin_type_5 %>

    <!-- Total amount 5 -->
    <%= render "partials/field_value", label: "Totaal bedrag 5", value: @passage.total_amount_5 %>
</div>

<!-- Goods heading -->
<%= render "partials/heading", title: "Goederen aan boord", associations: true, create_url: "/passages/#{@passage.id}/attach_cargo" %>

<div class="bg-white rounded-lg mt-2 px-4">
    <% if @passage.cargo.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Type</th>
                <th class="text-left">Maat</th>
                <th class="text-left">Aantal eenheden</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @passage.cargo.each do |cargo| %>
                <tr class="h-12 border-y">
                    <td><%= cargo.id %></td>
                    <td><a class="text-blue-500 font-bold" href="<%= good_path(cargo.good.id) %>" alt="Goed bekijken"><%= cargo.good.type %></td>
                    <td><%= cargo.measure %></td>
                    <td><%= cargo.number_of_units %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_cargo_path(cargo), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), cargo_path(cargo), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Weet u zeker dat u deze lading wilt ontkoppelen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <div class="bg-white my-4 py-4 rounded-lg">
            <p>Er zijn geen goederen bekend.</p>
        </div>
    <% end %>
</div>