<!-- Heading -->
<%= render "partials/heading", backlink: true, title: "Goed koppelen aan #{@passage.serial_number}" %>

<%= form_with url: "/passages/#{@passage.id}/attach_cargo", method: "post" do |form| %>
    <!-- Good to attach dropdown -->
    <%= render "partials/dropdown", form: form, value: :good_id, label: "Goed", required: false, items: Good.order(:type), item_value: :id, item_label: :type %>

    <!-- Measure input -->
    <%= render "partials/input", form: form, value: :measure, label: "Maat", required: true, model: @passage %>

    <!-- Number of units input -->
    <%= render "partials/input", form: form, value: :number_of_units, label: "Aantal eenheden", required: true, model: @passage %>

    <%= form.submit "Goed koppelen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>