<%= form_with model: city do |form| %>
    <!-- Name input -->
    <%= render "partials/input", form: form, value: :name, label: "Naam", required: true, model: city %>
    
    <!-- Latitude input -->
    <%= render "partials/input", form: form, value: :latitude, label: "Breedtegraad (latitude)", required: true, model: city %>

    <!-- Longitude input -->
    <%= render "partials/input", form: form, value: :longitude, label: "Lengtegraad (longitude)", required: true, model: city %>

    <%= form.submit "Stad toevoegen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>