<%= render "partials/heading", backlink: true, title: "Steden", create_url: "/cities/new" %>

<div class="bg-white rounded-lg mt-4 px-4">
    <% if @cities.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Naam</th>
                <th class="text-left">Breedtegraad (latitude)</th>
                <th class="text-left">Lengtegraad (longitude)</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @cities.each do |city| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= city_path(city) %>" alt="Stad bekijken"><%= city.id %></a></td>
                    <td><%= city.name %></td>
                    <td><%= city.latitude %></td>
                    <td><%= city.longitude %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_city_path(city), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), city_path(city), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Weet u zeker dat u deze stad wilt verwijderen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p class="text-center">Er zijn nog geen steden toegevoegd.</p>
    <% end %>
</div>