<!-- Heading -->
<%= render "partials/heading", backlink: true, title: "Schipper koppelen aan #{@city.name}" %>

<%= form_with url: "/cities/#{@city.id}/attach_skipper", method: "post" do |form| %>
    <!-- Skipper to attach dropdown -->
    <%= render "partials/dropdown", form: form, value: :skipper_id, label: "Schipper", required: false, items: Skipper.order(:name), item_value: :id, item_label: :name %>

    <%= form.submit "Schipper koppelen", class: "bg-primary rounded-lg text-white p-4 w-full lg:w-auto cursor-pointer font-bold" %>
<% end %>