<!-- Heading -->
<%= render "partials/heading", backlink: true, title: "Stad: #{@city.name}", is_show: true, model: @city, model_path: "/cities" %>

<div class="bg-white w-full p-4 rounded-lg my-4">
    <!-- City name -->
    <%= render "partials/field_value", label: "Naam", value: @city.name %>

    <!-- Latitude -->
    <%= render "partials/field_value", label: "Breedtegraad (latitude)", value: @city.latitude %>

    <!-- Longitude -->
    <%= render "partials/field_value", label: "Lengtegraad (longitude)", value: @city.longitude %>
</div>

<!-- Skippers heading -->
<%= render "partials/heading", title: "Schippers die hier vandaan komen", associations: true, create_url: "/cities/#{@city.id}/attach_skipper" %>

<div class="bg-white rounded-lg mt-2 px-4">
    <% if @city.skippers.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Naam</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @city.skippers.each do |skipper| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= skipper_path(skipper) %>" alt="Schipper bekijken"><%= skipper.id %></a></td>
                    <td><%= skipper.name %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_skipper_path(skipper), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), detach_city_path(skipper), data: {
                            turbo_method: :post,
                            turbo_confirm: "Weet u zeker dat u deze schipper wilt ontkoppelen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <div class="bg-white my-4 py-4 rounded-lg">
            <p>Er zijn geen schippers die hier vandaan komen.</p>
        </div>
    <% end %>
</div>

<!-- From passages heading -->
<%= render "partials/heading", title: "Doorvaarten die hier vandaan kwamen", associations: true %>

<div class="bg-white rounded-lg mt-2 px-4">
    <% if @city.from_passages.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Volgnummer</th>
                <th class="text-left">Schipper</th>
                <th class="text-left">Van</th>
                <th class="text-left">Naar</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @city.from_passages.each do |passage| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= passage_path(passage) %>" alt="Doorvaart bekijken"><%= passage.id %></a></td>
                    <td><%= passage.serial_number %></td>
                    <td><%= passage.skipper.name %></td>
                    <td><%= passage.from_city != nil ? passage.from_city.name : "Onbekend" %></td>
                    <td><%= passage.to_city != nil ? passage.to_city.name : "Onbekend" %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_passage_path(passage), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), detach_from_city_path(passage), data: {
                            turbo_method: :post,
                            turbo_confirm: "Weet u zeker dat u deze doorvaart wilt ontkoppelen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <div class="bg-white my-4 py-4 rounded-lg">
            <p>Er zijn geen doorvaart die hier vandaan komen.</p>
        </div>
    <% end %>
</div>

<!-- To passages heading -->
<%= render "partials/heading", title: "Doorvaarten die hier naartoe kwamen", associations: true %>

<div class="bg-white rounded-lg mt-2 px-4">
    <% if @city.to_passages.size != 0 %>
        <table class="bg-white rounded-lg w-full">
            <tr class="h-12">
                <th class="text-left">ID</th>
                <th class="text-left">Volgnummer</th>
                <th class="text-left">Schipper</th>
                <th class="text-left">Van</th>
                <th class="text-left">Naar</th>
                <th class="text-left">Acties</th>
            </tr>

            <% @city.to_passages.each do |passage| %>
                <tr class="h-12 border-y">
                    <td><a class="text-blue-500 font-bold" href="<%= passage_path(passage) %>" alt="Doorvaart bekijken"><%= passage.id %></a></td>
                    <td><%= passage.serial_number %></td>
                    <td><%= passage.skipper.name %></td>
                    <td><%= passage.from_city != nil ? passage.from_city.name : "Onbekend" %></td>
                    <td><%= passage.to_city != nil ? passage.to_city.name : "Onbekend" %></td>
                    
                    <td>
                        <%= link_to image_tag("edit_icon.svg", class: "h-5"), edit_passage_path(passage), class: "bg-blue-300 rounded-lg inline-block p-2" %>
                        
                        <%= link_to image_tag("trash_icon.svg", class: "h-5"), detach_to_city_path(passage), data: {
                            turbo_method: :post,
                            turbo_confirm: "Weet u zeker dat u deze doorvaart wilt ontkoppelen?"
                        }, class: "bg-red-500 rounded-lg inline-block p-2" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <div class="bg-white my-4 py-4 rounded-lg">
            <p>Er zijn geen doorvaart die hier vandaan komen.</p>
        </div>
    <% end %>
</div>