<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft om een ​​link gevraagd om je wachtwoord te wijzigen. Dit kan via onderstaande link.</p>

<p><%= link_to 'Mijn wachtwoord wijzigen', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als u hier niet om heeft gevraagd, kunt u deze e-mail negeren.</p>
<p>Uw wachtwoord verandert pas als u de bovenstaande link opent en een nieuwe maakt.</p>
