<h1 class="inline-block font-bold text-2xl">Welkom bij het Sonttolregister CMS</h1>

<% if user_signed_in? %>
    <p>U bent ingelogd.</p>
    
    <a href="/skippers" alt="Schippers" class="my-3 inline-block bg-primary rounded-lg text-white p-4 w-full md:w-auto">
        <span class="font-bold">Schippers</span>
    </a>

    <a href="/passages" alt="Doorvaarten" class="my-3 inline-block bg-secondary rounded-lg text-white p-4 w-full md:w-auto">
        <span class="font-bold">Doorvaarten</span>
    </a>

    <a href="/cities" alt="Steden" class="my-3 inline-block bg-primary rounded-lg text-white p-4 w-full md:w-auto">
        <span class="font-bold">Steden</span>
    </a>

    <a href="/goods" alt="Goederen" class="my-3 inline-block bg-secondary rounded-lg text-white p-4 w-full md:w-auto">
        <span class="font-bold">Goederen</span>
    </a>
<% else %>
    <p>U bent op dit moment niet ingelogd.</p>
    
    <a href="/users/sign_in" alt="Inloggen" class="my-3 inline-block bg-primary rounded-lg text-white p-4 w-full md:w-auto">
        <span class="font-bold">Inloggen</span>
    </a>

    <% if User.all.count == 0 %>
        <a href="/users/sign_up" alt="Gebruiker aanmaken" class="my-3 inline-block bg-secondary rounded-lg text-white p-4 w-full md:w-auto">
            <span class="font-bold">Gebruiker aanmaken</span>
        </a>
    <% end %>
<% end %>