<!DOCTYPE html>
<html>
  <head>
    <title>SonttolCms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="bg-slate-100">
    <div class="p-4 bg-white shadow-md">
      <div class="container mx-auto flex items-center">
        <div class="flex-1">
          <a href="/" alt="Home" class="inline-block">
            <img class="logo" src="<%= asset_path('logo_transparant.png') %>" alt="Logo">
          </a>
        </div>

        <% if user_signed_in? %>
          <div class="flex-1">
            <%= button_to "Uitloggen", destroy_user_session_path, method: :delete, class: "inline-block float-right"  %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="m-4">
      <div class="container mx-auto">
        <% flash.each do |type, message| %>
          <div class="mb-4 p-4 text-white rounded-lg <%= type == 'alert' ? "bg-red-500" : "bg-green-500" %>">
            <%= message %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
